<h2>Add Expense</h2>

<form method="post">
    <input type="text" name="title" placeholder="Expense Title" class="form-control" />
    <br />
    <input type="number" name="amount" placeholder="Amount" class="form-control" required />
    <br />
    <input type="date" name="date" class="form-control" required />
    <br />
    <button type="submit" class="btn btn-success">Save Expense</button>
</form>

<br />
<a href="/Expense/Index">⬅ Back to List</a>
